{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin.css') }}" />
{% endblock %}
{% block body %}
    {% include 'AdminBundle:component:topNavbar.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            {% include 'AdminBundle:component:sideMenu.html.twig' %}

            <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
                <h1>Liste des requêtes :</h1>

                <section class="mx-auto row text-center">
                    <table class="table table-hover table-striped">
                        <thead>
                        <td><b>Nom</b></td>
                        <td><b>Genre</b></td>
                        <td><b>Platforme</b></td>
                        <td><b>Nombre max de joueurs</b></td>
                        <td><b>Actions</b></td>
                        </thead>

                        {% for request in requests %}
                            <tr id="request-{{ request.id }}">
                                <td>{{ request.name }}</td>
                                <td>{{ request.kind }}</td>
                                <td>{% for platform in request.platform %} [{{ platform.wording }}] {% endfor %}</td>
                                <td>
                                    {{ request.nbMaxPlayer }}
                                </td>
                                <td><a href="{{ path("admin_accept_request_game", { 'requestGame' : request.id }) }}"  class="dropdown-item">Accepter</a></li>
                                    <a href="#" onclick="alertOnDelete('GAME_REQUEST', {{ request.id }}) "class="dropdown-item">Rejeter</a></li>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </section>
            </main>
        </div>
    </div>
{% endblock %}
