{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/dashboard.css') }}" />
{% endblock %}
{% block body %}
    {{ render(controller('UserBundle:Nav:navController', {"path" : "USER"})) }}
    <div class="container-fluid">
        <div class="row">
            {% include 'ParticipantBundle:Component:sideMenu.html.twig' %}

            <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
                <h1>Bienvenue {{ user.username }}</h1>

                <section class="mx-auto row text-center">
                    <div class="row col-lg-12">
                        <div class="col-lg-12">
                            <p>L'espace participant permettra de faire des demandes de jeux, voir les tournois
                                et gérer votre profil ( bientôt, peut-être, on l'espère ).</p>
                        </div>
                    </div>
                    <div class="row col-lg-8 offset-lg-2 text-center well">
                        Prenez en compte que le site n'est pas encore tout à fait terminé, certaines parties sont encore
                        en cours de construction,
                        il y a surement des fautes d'orthographes, les jaquettes des jeux ne sont pas encore
                        implémentées et le design n'est pas encore tout à fait implémenté.
                        Si vous avez un problème, ou une requête vous avez à votre disposition la partie support qui
                        enverra un message à l'admin qui
                        traitera votre demande, vous pouvez aussi envoyer un mail à l'adresse lan2017@sio57.info.
                        Merci de votre compréhension.
                    </div>
                    <div class="row logo col-lg-12">
                        <div class="col-lg-12">
                            <img src="{{ asset('img/logo_web.png') }}">
                        </div>
                    </div>
                    <div class="row discord col-lg-10">
                        <div class="col-lg-12">
                            <p>Accéder au Discord de la Lan</p>
                            <a href="https://discord.gg/P8mN9SK"><img
                                        src="{{ asset('img/Discord-Logo+Wordmark-White.png') }}"></a>
                        </div>
                    </div>
                </section>


            </main>

        </div>
    </div>
{% endblock %}