{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin.css') }}" />
{% endblock %}
{% block body %}
    {% include 'AdminBundle:component:topNavbar.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            {% include 'AdminBundle:component:sideMenu.html.twig' %}

            <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Liste des Equipements :</h1>

                        <section class="mx-auto row text-center">
                             {% if equipmentTypes is not empty %}
                            <table class="table table-hover table-striped">
                                <thead>
                                <td><b>Libelle</b></td>
                                </thead>

                                {% for equipmentType in equipmentTypes %}
                                    <tr>
                                        <td>{{ equipmentType.wording }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                            {% else %}
                            <h2>Il n'y a pas encore de type d'équipements enregistrés</h2>
                            {% endif %}
                        </section>
                    </div>
                    <div class="col-sm-6">
                        <h1>Ajouter un Equipement :</h1>
                        <section class="mx-auto row text-center">
                            <form class="form-horizontal" method="post" role="form">
                                <div class="form-group">
                                    <div class="control-label col-sm-4">
                                        {{ form_label(form.wording, 'Libelle') }}
                                    </div>
                                    <div class="col-sm-8">
                                        {{ form_widget(form.wording) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12 ">
                                        {{ form_widget(form.save, {'attr': {'class' : 'btn btn-primary text-center'}, 'label' : 'Valider'}) }}
                                    </div>
                                </div>
                                {{ form_rest(form) }}
                            </form> <!-- /form -->
                        </section>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% for message in app.session.flashbag.get('notice') %}
        $.notify("{{ message }}", "success");
    {% endfor %}
{% endblock %}