{% extends '::base.html.twig' %}
{% block body %}
    {% include 'AdminBundle:component:sideMenu.html.twig' %}
    <h3>Liste des jeux :</h3>
            <div class="col-lg-offset-1 col-lg-10">
                <table class="table table-hover table-striped">
                    <thead>
                    <td><b>Nom</b></td>
                    <td><b>Genre</b></td>
                    <td><b>Platforme</b></td>
                    <td><b>Nombre max de joueurs</b></td>
                    <td><b>Actions</b></td>
                    </thead>

                    {% for game in games %}
                        <tr>
                            <td>{{ game.name }}</td>
                            <td>{{ game.kind }}</td>
                            <td>{% for platform in game.platform %} [{{ platform.wording }}] {% endfor %}</td>
                            <td>
                               {{ game.nbMaxPlayer }}
                            </td>
                            <td><a href="{{ path('admin_modify_game', {'game' : game.id}) }}" class="btn btn-primary">Modifier</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
{% endblock %}