{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/guest.css') }}"/>
{% endblock %}
{% block body %}
    {{ render(controller('UserBundle:Nav:navController', {"path" : "USER"})) }}
<a class="row">
    {% include 'ParticipantBundle:Component:sideMenu.html.twig' %}
    <main class="col-sm-10 offset-sm-2 col-md-10 offset-md-2 pt-3">
        <h1 class="col-lg-4 titleGuest">VOTRE INVITE {{ invite.firstName|upper }} {{ invite.lastName|upper }}:</h1>
        <section class="mx-auto row ">
            {% include 'ParticipantBundle:Guest:menu.html.twig' with {'currentUrl' : 'HOME'} %}
        </section>
    </main>
    </div>
    {% endblock %}
    {% block scripts %}
    {% for message in app.session.flashbag.get('notice') %}
        $.notify("{{ message }}", "success");
    {% endfor %}
{% endblock %}