<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('user_game_dashboard') }}">Jeux </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('user_in_construction') }}">Tournois</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('user_in_construction') }}">Team</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('user_in_construction') }}">Invitation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('user_equipment') }}">Mon équipement</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('user_in_construction') }}">Liens utiles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('user_support_request') }}">Support</a>
        </li>
    </ul>
</nav>