{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/require.css') }}"/>
{% endblock %}
                    {% block body %}
                        <div class="container primary-div">
                            <div class="row">
                                <h1>Formulaire de première connexion :</h1>
                            </div>
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-lg-5 mx-auto">
                                    <div class="form-group">
                                        {{ form_label(form.username, 'Username') }}
                                        {{ form_widget(form.username, {'attr' : {'class' : 'form-control'}}) }}
                                        {% if message is not empty %}
                                            <span class="text-danger">Cet identifiant est déjà pris</span>
                                        {% endif %}
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(form.plainPassword.first, 'Mot de passe') }}
                                        {{ form_widget(form.plainPassword.first, {'attr' : {'class' : 'form-control'}}) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(form.plainPassword.second, 'Confimation mot de passe') }}
                                        {{ form_widget(form.plainPassword.second, {'attr' : {'class' : 'form-control'}}) }}
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            {{ form_widget(form.isEating, {'attr' : {'class' : 'form-check-input'}}) }}
                                            Manger sur place
                                        </label>
                                    </div>

                                    <h2>Matériels</h2>
                                    <p>Ce dont vous avez besoin</p>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    {{ form_widget(form.needScreen, {'attr' : {'class' : 'form-check-input'}}) }}
                                                    Ecran
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    {{ form_widget(form.needMouse, {'attr' : {'class' : 'form-check-input'}}) }}
                                                    Souris
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    {{ form_widget(form.needKeyboard, {'attr' : {'class' : 'form-check-input'}}) }}
                                                    Clavier
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    {{ form_widget(form.needNetworkCable, {'attr' : {'class' : 'form-check-input'}}) }}
                                                    Câble réseau
                                                </label>
                                            </div>
                                        </div>

                                        <div class="mx-auto">
                                            {{ form_widget(form.save, {'attr' : {'class' : 'btn'}, 'label' :"J'ai fini"}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                        </div>
                    {% endblock %}
{% block scripts %}
    {% for message in app.session.flashbag.get('notice') %}
        $.notify("{{ message }}", "success");
    {% endfor %}
{% endblock %}
